@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.orderCardContainer {
  width: 100%;
  min-height: 160px;
  height: fit-content;
  border: $primary-border;
  border-radius: 12px;
  margin: 20px 0;
}

.orderCardHeaderContainer {
  width: 95%;
  height: 60px;
  background-color: $dark-red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 2.5%;
  border-radius: 10px 10px 0px 0px;
  color: $white;
}

.orderCardHeaderContainer h4 {
  font-size: 22px;
  font-family: $primary-font-family;
  letter-spacing: 0.4px;
  @media #{$tablet_device} {
    font-size: $large-font-tablet;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media #{$mobile_device} {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (min-width: 0) and (max-width: 340px) {
    font-size: 12px;
  }
}
.orderCardContentContainer {
  margin: 20px 20px 10px 20px;
}

.orderCardContentContainer h4 {
  font-size: $large-font;
  font-weight: 700;
  color: $medium-grey;
  margin: 5px 10px;
  font-size: 22px;
  @media #{$tablet_device} {
    font-size: $large-font-tablet;
  }
  @media #{$mobile_device} {
    font-size: $large-font-mobile;
    margin: 2px 0px;
  }
}

.orderCardUpperContentContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.orderCardItemContainer {
  width: 30%;
  @media #{$mobile_device} {
    width: 60%;
  }
}
.orderCardItemContainer h4 {
  font-size: 18px;
  font-weight: 600;
}

.orderCardRowItemContainer {
  display: flex;
  justify-content: space-between;
}

.orderCardRowItemContainer h4 {
  @media #{$mobile_device} {
    font-size: 14px;
  }
  @media (min-width: 0) and (max-width: 340px) {
    font-size: 12px;
  }
}

.orderCardLowerContentContainer {
  display: flex;
  justify-content: space-between;
}

.orderCardLowerContentContainer h4 {
  @media #{$mobile_device} {
    font-size: 14px;
    font-weight: 700;
  }
  @media (min-width: 0) and (max-width: 340px) {
    font-size: 12px;
  }
}

.orderCardPaymentContainerStyle {
  text-align: right;
  display: flex;
  flex-direction: column;
}

.orderCardPaymentContainerStyle h4 {
  @media #{$mobile_device} {
    font-size: 14px;
    font-weight: 700;
  }
  @media (min-width: 0) and (max-width: 340px) {
    font-size: 12px;
  }
}

.orderCardPaymentStyle {
  padding: 10px 0;
}
