@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.itemCardContainer {
  width: 250px;
  height: 275px;
  border: $primary-border;
  border-radius: 5px;
  cursor: pointer;
  @media #{$mobile_device} {
    font-size: $normal-font-mobile;
    width: 300px;
    height: 300px;
    /*Update*/
    display: inline-block;
    text-align: start;
  }
}

.itemCardImageStyle {
  width: inherit;
  height: 150px;
  border-radius: 5px 5px 0 0;
  @media #{$mobile_device} {
    height: 180px;
  }
}

.itemCardContentContainer {
  padding: 5px;
  font-family: $primary-font-family;
  color: $black;
}

.itemCardTitleStyle {
  font-weight: 700;
  margin: 5px;
  font-size: $normal-font;
  @media #{$tablet_device} {
    font-size: $normal-font-table;
  }
  @media #{$mobile_device} {
    font-size: $normal-font-mobile;
  }
}

.itemCardSubTitleStyle {
  font-weight: 700;
  color: $medium-grey;
  margin: -2px 5px;
  font-size: 14px;
  @media #{$tablet_device} {
    font-size: 14px;
    font-weight: 600;
  }
  @media #{$mobile_device} {
    font-size: 13px;
    font-weight: 600;
  }
}

.itemCardFooterStyle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 8px;
  margin: 12px 0px;
}

.itemCardPriceStyle {
  margin: 0px 5px;
  font-weight: 700;
  font-size: 14px;
  @media #{$tablet_device} {
    font-size: 14px;
    font-weight: 600;
  }
  @media #{$mobile_device} {
    font-size: 13px;
    font-weight: 600;
  }
}

.itemDetailQuantityStyle {
  font-weight: 600;
  font-size: 16px;
  @media #{$tablet_device} {
    font-size: 16px;
    font-weight: 700;
  }
  @media #{$mobile_device} {
    font-size: 16px;
    font-weight: 700;
  }
}

.itemDetailQuantityContainer {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 18px;
}

.itemDetailQuantityBoxStyle {
  width: 25px;
  height: 25px;
  background-color: $dark-red;
  border: 1px solid $dark-red;
  border-radius: 5px;
  color: $white;
  outline: none;
  cursor: pointer;
  @media #{$tablet_device} {
    width: 28px;
    height: 28px;
  }
  @media #{$mobile_device} {
    width: 28px;
    height: 28px;
  }
}

.itemDetailQuantityBoxStyle:hover {
  background-color: $white;
  color: $dark-red;
}
