@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.mainWrapContainer {
  margin: 20px auto;
  width: 85%;
}

.categoryListMainContainer {
  background-color: $alice-blue;
  padding: 20px 0px 5px 0px;
  margin-bottom: 20px;
}

.categoryListMainContainer h3 {
  margin: 4px 0;
}

.categoryListMainContainer p {
  margin: 4px 0px 20px 0px;
  font-weight: 600;
  padding: 0;
  font-size: $regular-font;
  color: $medium-grey;
  @media #{$tablet_device} {
    font-size: $regular-font-tablet;
  }
  @media #{$mobile_device} {
    font-size: $regular-font-mobile;
  }
}

.categoryCardWrapContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-gap: 22px;
  justify-content: center;
  @media #{$mobile_device} {
    display: block;
    font-size: $regular-font-mobile;
  }
}

.categoryCardWrapContainer p {
  font-weight: 600;
  font-size: 14px;
  margin-top: -4px;
  @media #{$tablet_device} {
    margin-top: 0px;
  }
  @media #{$mobile_device} {
    margin-top: 0px;
    font-size: 12px;
  }
}

.testimonailCardTitleWrapContainer {
  display: grid;
  grid-template-columns: 450px;
  margin: 20px;
  @media #{$tablet_device} {
    margin: 5px 22px;
  }
  @media #{$mobile_device} {
    grid-template-columns: 280px;
    justify-content: center;
  }
  @media (min-width: 0) and (max-width: 340px) {
    margin: 0px;
  }
}

.testimonailCardWrapContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 40px;
  justify-content: center;
}
