@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.cardTitleWrapContainer h3 {
  margin: 0px 120px;
  @media #{$tablet_device} {
    margin: 0px 50px;
  }
  @media #{$mobile_device} {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}
