@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.carouselMainContainer {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  @media #{$tablet_device} {
    flex-direction: column-reverse;
    margin-bottom: 15px;
  }
  @media #{$mobile_device} {
    flex-direction: column-reverse;
    margin-bottom: 15px;
  }
}

.carouselTextContainer {
  background: rgba(0, 0, 0, 0.8);
  height: 450px;
  position: absolute;
  width: inherit;
  z-index: 999;
  top: 60px;
  left: 0;
  align-items: center;
  @media #{$tablet_device} {
    width: 100%;
    height: 250px;
  }
  @media #{$mobile_device} {
    width: 100%;
    height: 200px;
  }
}

.carouselTextContainer h1 {
  position: absolute;
  top: 25%;
  color: $light-grey !important;
  left: 30%;
  transform: translate(-25%, -30%);
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
}

.carouselImageContainer {
  display: flex;
  width: 60%;
  @media #{$mobile_device} {
    width: 100%;
  }
}

.imageStyle {
  width: inherit;
  height: 450px;
  @media #{$tablet_device} {
    height: 250px;
  }
  @media #{$mobile_device} {
    height: 200px;
  }
}

.carouselTextContainer h1 {
  color: red;
  padding: 0px 40px;
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: 52px;
  @media #{$tablet_device} {
    font-size: 46px;
    text-align: center;
  }
  @media #{$mobile_device} {
    font-size: 32px;
    text-align: center;
  }
}
