@import "stylesheets/variables.scss";
@import "stylesheets/responsive.scss";

.link {
  box-sizing: border-box;
  text-decoration: none;
  color: $black;
  text-align: left;
  font-size: $regular-font;
  line-height: 19px;
  font-weight: 400;
  @media #{$tablet_device} {
    font-size: $regular-font-tablet;
  }
  @media #{$mobile_device} {
    font-size: $regular-font-mobile;
  }
}

.link:hover {
  text-decoration: underline;
}
